{{> header}}
<div class="container">
  <h1>Hello World from Handlebars</h1>
  <h2>Similar pro player : {{sum}}</h2>
  {{named}}
 <p>
    {{#if city}}
    <h2> City name: {{city}}</h2>
  {{else}}
    No message was found
  {{/if}}
  {{#if description}}
    <h3> Description of weather condition: {{description}}</h3>
  {{else}}
    No message was found
  {{/if}}
  {{#if Temperature }}
    <h2> Temperature of weather condition: {{Temperature}} &deg;</h2>
  {{else}}
    No message was found
  {{/if}}
</p>
<form action="/getweather"> 
   <label for ="city">City Name</label>
    <input type="text" name="city" placeholder="Enter city name"/>
     Would you like to receive the email?<input type="checkbox" name="cl" checked/><br>
    <input type="email" name="email" placeholder="Enter email"/><br>
    <button class="shiny" type="submit">submit</button>
  </form>
</div>
{{> footer year=year}}